
body{
	padding: 80px 40px 0 40px;
}

.headline{
	color:#FFFFFF;
	text-align:center; 
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	padding: 50px 0 50px 0;
	background-image:url(img/mainfood.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
}

/* change the color of the register button*/
#registration{
	background-color: green;
	border:green;
	color:white;
}