<!DOCType html>
<html lang="en"><head>
	<meta charset="UTF-8">
	<title>Relationships</title> 


</head>

<body>
	<div class="container-fluid">
		<div class="row">	
			<div class="col-md-12">
				<h1>Recipe Display</h1>
				<div id="recipes">
					<!-- Books go here -->
				</div>
			</div>
		</div>
	</div>




	<!-- TEMPLATE -->
	<script id="recipeTMP" type="text/template">

		<h3 id=<%=objectId%> ><%= recipeTitle %></h3>
		<p id="cookingTime" ><%= cookingTime %></p>
		<p class="content">Main Ingredient: <%= food %></p>
		<p class="content">Key Nutrition: <%= nutrition %></p>

		<div class="like btn btn-success">
			<button type="button" class="btn btn-primary"> Like</button>
		</div>
		<div class="unlike btn btn-danger hidden">
			<button type="button" class="btn btn-primary">Unlike</button>
		</div>
        <div class="preview">

 
		    <a class="fancybox" href="detailrecipe.html">detail recipe</a>

		</div>

	</script>


	<!-- Detail TEMPLATE -->

    </script>

		
<!-- 
		 // <div id=<%=objectId%>  style="width:400px;display: none;">
		 //  // <p><%= recipeTitle %></p>
		 //  
	  //   </div> -->
		




	<!-- Import main libraries -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>


    
    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script>



	<!-- Including Underscore, which Parse doesn't seem to "global" -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore.js"></script>
    
    <script src="https://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
    

	<!-- And our own custom scripts -->

	<!-- Models -->
	<script type="text/javascript" src="recipeDisplay.js"></script>
	<script type="text/javascript" src="detailRecipeDisplay.js"></script>

	<!-- Views -->
	<script type="text/javascript" src="recipeView.js"></script>
	<script type="text/javascript" src="recipeDetailView.js"></script>

	<!-- App -->
	<script type="text/javascript" src="mainRecipe.js"></script>
	
	<!-- my css -->
	<link rel="stylesheet" href="recipe.css">

	<!-- fancy box -->
  <script type="text/javascript" src="fancybox/lib/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
  <script type="text/javascript" src="fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
  <link rel="stylesheet" type="text/css" href="fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
  <link rel="stylesheet" type="text/css" href="fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
  <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
  <link rel="stylesheet" type="text/css" href="fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
  <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
  <script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>	

	





</body></html>