.recipe {
	display: inline-block;
	margin: 10px;
	padding: 20px;
	vertical-align: top;
	width: 300px;
	height: 300px;
	border: 2px navy solid;

}
#cookingTime {
	text-align: right;
	font-style: italic;

}

h3{
	font:24px blue;
	font-style: bold;
}

.content{

}