<!DOCTYPE html>
<!-- Ideas and framework from http://iviewsource.com/codingtutorials/5-minute-guide-to-a-mobile-app-with-jquery-mobile/ -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Food App - Title Needed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
    img.fullscreen {
        max-height: 100%;
        max-width: 100%;
    }
    </style>
</head>

<body>
    <script id="recipeRating" type="text/html">
        <div class="rating row">
            <div class="recipe-rating col-md-2">
                <i class="fa fa-thumbs-o-up good"></i>
                <div class="score">
                    <%=s core %>
                </div>
                <i class="fa fa-thumbs-o-down bad"></i>
            </div>
        </div>
    </script>
    <h1>Vegetarian Greenbean Soup <i class="fa fa-thumbs-o-up good"></i></h1>
    <li><b>Ingredients</b></li>
    <ul>1/4 cup olive oil</ul>
    <ul>2 cups chopped onions</ul>
    <ul>1 2/3 cups coarsely chopped red bell peppers (about 2 medium)</ul>
    <ul>6 garlic cloves, chopped</ul>
    <ul>2 tablespoons chili powder</ul>
    <ul>2 teaspoons dried oregano</ul>
    <ul>1 1/2 teaspoons ground cumin</ul>
    <ul>1/2 teaspoon cayenne pepper</ul>
    <ul>3 15- to 16-ounce cans black beans, drained, 1/2 cup liquid reserved</ul>
    <ul>1 16-ounce can tomato sauce</ul>
    <ul>Chopped fresh cilantro</ul>
    <ul>Sour cream</ul>
    <ul>Grated MontereyJack cheese</ul>
    <ul>Chopped green onions</ul>
    <li><b>How to make </b></li>
    <ol>
        <li>Heat oil in heavy large pot over medium-high heat. Add onions, bell peppers, and garlic; sauté until onions soften, about 10 minutes. </li>
        <li>Mix in chili powder, oregano, cumin, and cayenne; stir 2 minutes. </li>
        <li>Mix in beans, 1/2 cup reserved bean liquid, and tomato sauce. Bring chili to boil, stirring occasionally. </li>
        <li>Reduce heat to medium-low and simmer until flavors blend and chili thickens, stirring occasionally, about 15 minutes.</li>
        <li>Season to taste with salt and pepper.</li>
        <li>Ladle chili into bowls. Pass chopped cilantro, sour cream, grated cheese, and green onions separately.</li>
    </ol>
    <li>
    </li>
</body>

</html>
